<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel='stylesheet' href='/app.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d17e81a3be.js" crossorigin="anonymous"></script>
    <title>Mock E-Commerce Product API</title>
  </head>
  <body>
    <%- include('partials/header')%>
    <main>
      <h2 class='heading'>Usage</h2>
      <article class='base-url'>
        <h3 class='heading'>Base URL</h3>
        <a class='url'>http://mock-product-api.herokuapp.com</a>
      </article>
      <section class="routes">
        <%- include('partials/route', {pathname: '', description: 'Get all products'})%>
        <%- include('partials/route', {pathname: '/sale', description: 'Get all products on sale'})%>
        <%- include('partials/route', {pathname: '/:id', description: 'Get a specific product'})%>
        <%- include('partials/route', {pathname: '?category=women', description: 'Get a specific category - women, men, kids'})%>
      </section>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
